!!!
html(lang='en')
  head
    title TV Track &mdash; Hey, did I already see this episode?
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/3.0.0/cosmo/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Shanti')
    meta(name='viewport', content='width=960, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-title', content='TV Track')      
    link(rel='stylesheet', href='css/style.css')

  body
    
  .container
    
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/') TV&nbsp;Track
          
        .navbar-collapse.collapse#navbar-main
          ul.nav.navbar-nav.navbar-right
            li
              a#logout(type='button', onclick='return false;')
                | Logout
            
      
    
    #container-login(style='display:none;')      
      .page-header
        h3 Your TV-Show Tracker
      
      p.lead.
        TVTrack.me is a <a href="#why">simple</a> tracker for the TV Shows you are watching.
      
      .signin.row
        .col-lg-6
          form#login-form(action='')
            fieldset
              legend I'm back
              
              p Type your passphrase to login.
              
              .form-group
                label(for='login-passphrase') Passphrase
                input.form-control#login-passphrase(type='text', name='name', placeholder='John Doe', autocomplete='off', required, minlength="10")
              
              button.btn.btn-primary.form-control(type='submit') Login &raquo;

        .col-lg-6
          form#signup-form(action='')
            fieldset
              legend I'm new here
              
              p Type your name and a passphrase and we'll register a new account, just for you!
              
              .form-group
                label(for='signup-name') Your Name (optional)
                input.form-control#signup-name(type='text', name='name', placeholder='John Doe')
                  
              .form-group
                label(for='signup-passphrase') Passphrase
                input.form-control#signup-passphrase(type='text', name='name', placeholder='Type a secret phrase.', autocomplete='off', required, minlength="10")
                span.help-block.
                  must be at least 10 characters length &mdash; a verse of a your preferred poem may be a good choice :-)
    
              button.btn.btn-success.form-control(type='submit') Create &raquo;
  
  
    #container-list(style='display:none;')      
      .page-header
        h3 Your Shows
        
      table.table.table-striped.table-hover
        thead
          tr
            th.col-lg-4 Title
            th.col-lg-4 Last Watched Episode
            th.col-lg-4 Comment
        tbody#shows-container
      
      script#show-template(type='text/html')
        tr(data-show-title="{{=title}}")
          td.col-lg-4
            p(contenteditable="true", data-id="title") {{=title}}
            
          td.col-lg-4
            span.lastepisode-container
              p(contenteditable="true", data-id="last_episode") {{=last_episode}}
              
            span
              &nbsp;&nbsp;
              button.btn.btn-xs.btn-primary(data-action="bump-episode")
                i.glyphicon.glyphicon-forward
              &nbsp;
              button.btn.btn-xs(data-action="bump-season")
                i.glyphicon.glyphicon-fast-forward
              
          td.col-lg-4
            p(contenteditable="true", data-id="comment") {{=comment}}
    
    
    footer.row
      p.col-lg-12.
        &copy; 2013 <a href="http://www.plasticpanda.com/">Plastic Panda</a> &middot;
        <span>We don't track, anything</span> &middot;
        <a href="https://github.com/lusentis/tvtrack.me">Source Code</a>
    
    
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='/js/vendor/require.js', data-main='/js/main.js')
      
      
      