
body
	font-family 'Shanti', sans-serif
	font-size 14px
	padding-top 60px

body, p, h1, h2, h3, h4, h5, h6, a, span
	font-family 'Shanti', sans-serif

.navbar .container
.navbar
	height 50px
	padding 0

.navbar-brand
	font-size 1.8em

.navbar-text
	color #aaa
	
footer
	width 100%
	text-align center
	margin-top 20px
	height 30px
	min-height 30px

[contenteditable="true"]
	border-bottom 1px dotted #666
	display inline-block
	min-width 30px
	line-height 1.2em
	min-height 1.2em
	padding 1px
